@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700&display=swap');

body {
   background-image: url("Fotos/FondoWebApp.png");
   background-size: cover;
}

.navbar-brand {
   background-color: rgba(0, 107, 96, 0)!important;
}

.container form {
   margin-top: 5%;
}
.tituloCategoria{ 
   text-align: center;
}

#RestTit {
   margin-top: -40px;
}

.row {
   margin-bottom: 10px!important;
}

.last {
   margin-bottom: -8px!important;
}

#authorized, #empty, #emptyP, #emptyE, #emptyU, #existE, #existU, #invalidE {
   color: red;
}

.nav-item {
   margin-left: 25px;
}

.nav-link {
   color: white;  
}

h1 {
   font-size: 100px;
   color: #006B60;
   font-family: Rajdhani, sans-serif;
}

h2 {
   color: #006B60;
   font-family: Rajdhani, sans-serif;
   font-weight: bold;
   font-size: 50px;
}

.tituloL {
   margin-left: 100px;
}

.container {
   margin-top: 20px;
}

.caja {
   background-color: rgba(255, 216, 132, 0.5);
   border-color: #006B60;
   border-width: 10px;
   border-style: solid;
   padding: 15% 10px 10px 10px;
   width: 500px;
   height: 500px;
   border-radius: 5%; 
}

#button {
   margin-left: 35%;
   margin-top: 5%;
   background-color: #F9A50C;
   border-style: solid;
   border-color: #006B60;
   border-width: 7px;
   width: 150px;
   height: 60px;
   border-radius: 10px;
   color: white;
   font-size: 20px;
}

h3 {
   font-size: 60px;
   color: #006B60;
   font-family: Rajdhani, sans-serif;
   margin-left: 35%;
   margin-bottom: 20px;
}

#barra {
   background-color: #006B60!important;
}

#Add {
   background-color: #F9A50C;
   border-style: solid;
   border-color: #006B60;
   border-width: 5px;
   width: 70px;
   height: 40px;
   border-radius: 10px;
   color: white;
   font-size: 15px;
   margin-left: 85%; 
   /*position: absolute;*/
}

#ButtonDelete {
   background-image: url("Fotos/trash.png");
   width: 35px;
   height: 35px;
   background-color: rgba(249, 166, 12, 0);
   border-color: rgba(0, 107, 96, 0);
   padding: 10px;
   margin-top: 7px;
   background-repeat: no-repeat;
}
#ButtonEdit {
   background-image: url("Fotos/edit.png");
   width: 35px;
   height: 35px;
   background-color: rgba(249, 166, 12, 0);
   border-color: rgba(0, 107, 96, 0);
   padding: 10px;
   margin-top: 7px;
   margin-right: 10px;
   background-repeat: no-repeat;
}

#ButtonBanned {
   /*background-image: url("ban.png");*/
   width: 35px;
   height: 35px;
   background-color: rgba(249, 166, 12, 0);
   border-color: rgba(0, 107, 96, 0);
   padding: 10px;
   margin-top: 7px;
   margin-right: 10px;
   background-repeat: no-repeat;
}

#show {
   background-color: rgba(255, 255, 255, 0.555);
   border-radius: 10px;
}

.EmailE {
   width: 100%;
}

#search {
   position: absolute;
   margin-top: 2%;
   margin-left: 5%;
}

#Lsearch {
   margin-right: 15px;
   font-family: Rajdhani, sans-serif;
   color: #006B60;
   font-size: 20px;
}

#searchTerm {
   border: none;
   border-bottom: 1px solid #006B60;
   background-color: rgba(255, 255, 255, 0);
}

#buttonBack {
   background-color: rgba(0, 107, 96, 0);
   border-color: rgba(0, 107, 96, 0);
   width: 40px;
   height: 40px;
   background: no-repeat;
   margin-top: 2%;
   margin-left: 5%;
}

#EditForm {
   border-radius: 20px;
   padding: 3%;
   background-color: rgba(255, 216, 132, 0.5);
   border-color: #006B60;
   border-width: 10px;
   border-style: solid;
}

#AddForm {
   border-radius: 20px;
   padding: 3%;
   background-color: rgba(255, 216, 132, 0.5);
   border-color: #006B60;
   border-width: 10px;
   border-style: solid;
   margin-top: 10%;
}

h3 {
   font-size: 30px;
}

#users1 {
   font-size: 30px;
   font-family: Rajdhani, sans-serif;
   font-weight: bold;
   color: #006B60;
   background-color: rgba(255, 216, 132, 0.5);
   border-color: #006B60;
   border-width: 3px;
   border-style: solid;
   border-radius: 20px;
   margin-left: 10px;
}

 #Login {
    font-size: 50px;
    font-weight: bold;
 }

 .buscar {
    margin-top: -10px!important;
 }

 .ShowR {
    margin-top: 50px;
 }

 #errorC {
    color: red;
 }